
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Montserrat', sans-serif;
}

.buttonProject{
	padding: 8px 16px;
	border: 1px solid transparent;
	border-radius: 25px;
    color: white;
    font-weight: 300;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	transition: 0.4s;
    border: 1px solid orange;
}
.buttonProject:hover{
	background-color: var(--bg-clr-two);
	color: orange;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid yellowgreen;
}


.buttonProject2{
	padding: 8px 16px;
	border: 1px solid transparent;
	border-radius: 25px;
    color: white;
    font-weight: 300;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	transition: 0.4s;
    border: 1px solid yellowgreen;
}
.buttonProject2:hover{
	background-color: var(--bg-clr-two);
	color: orange;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid orange;
}

.buttonProject3{
	padding: 8px 16px;
	border: 1px solid transparent;
	border-radius: 25px;
    color: black;
    font-weight: 600;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	transition: 0.4s;
    border: 1px solid yellowgreen;
}
.buttonProject3:hover{
	background-color: var(--bg-clr-two);
	color: rgb(31, 28, 28);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid orange;
}

.buttonProject4{
	padding: 4px 8px;
	border: 1px solid transparent;
	border-radius: 25px;
    color: black;
    font-weight: 500;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	transition: 0.4s;
    border: 1px solid yellowgreen;
}
.buttonProject4:hover{
	background-color: var(--bg-clr-two);
	color: rgb(31, 28, 28);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid orange;
}

.cardEffect{
	border: 1px solid transparent;
	border-radius: 25px;
    color: black;
    font-weight: 500;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	transition: 0.4s;
    /* border: 1px solid yellow; */
}
.cardEffect:hover{
	background-color: var(--bg-clr-two);
	color: rgb(31, 28, 28);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid yellowgreen;
}




/*    Contact Section Styling Starts    */

.contactSection{
	width: 100%;
	padding: 75px 8% 60px;
	background-color: var(--bg-clr-two);
}
.contactSection .contactContentsRow{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.contactContentsRow .even-column{
	display: flex;
	flex-direction: column;
}
.contactContentsRow .contactDetails{
	flex-basis: 35%;
	min-width: 320px;
	margin-right: 60px;
}
.contactContentsRow .contactForm{
	flex-basis: 60%;
}
.contactDetails .contactTitle h2{
	position: relative;
	font-size: 28px;
	color: var(--primary-heading-clr);
	display: inline-block;
	margin-bottom: 25px;
}
.contactDetails .contactTitle h2::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	top: 120%;
	left: 0px;
	background-color: var(--secondary-heading-clr);
}
.contactDetails .contactTitle h2::after{
	content: '';
	position: absolute;
	width: 40%;
	height: 3px;
	top: calc(120% - 1px);
	left: 0px;
	background-color: var(--primary-clr);
}
.contactDetails .contactTitle p{
	font-size: var(--text-fontSize);
	color: var(--secondary-heading-clr);
	letter-spacing: 1px;
	line-height: 1.2;
	padding-bottom: 22px;
}
.contactDetails .contactInfo{
	margin-bottom: 16px;
}
.contactDetails .contactInfo .iconGroup{
	display: flex;
	align-items: center;
	margin: 25px 0px;
}
.contactDetails .contactInfo .iconGroup .icon{
	width: 45px;
	height: 45px;
	border: 2px solid greenyellow;
	border-radius: 50%;
	margin-right: 20px;
	position: relative;
}
.contactInfo .iconGroup .icon i{
	font-size: 18px;
	color: var(--primary-heading-clr);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.contactInfo .iconGroup .details span{
	display: block;
	color: var(--text-clr);
	font-size: var(--text-fontSize);
}
.contactInfo .iconGroup .details span:nth-child(1){
	text-transform: uppercase;
	color: var(--primary-heading-clr);
}
.contactDetails .contactSocialMedia{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin: 22px 0px 20px;
}
.contactDetails .contactSocialMedia a{
	width: 35px;
	height: 35px;
	text-decoration: none;
	text-align: center;
	margin-right: 15px;
	border: 1px solid transparent;
	border-radius: 5px;
	background-color: var(--primary-clr);
	transition: 0.4s;
}
.contactDetails .contactSocialMedia a i{
	color: var(--primary-heading-clr);
	font-size: 18px;
	line-height: 35px;
	transition: 0.4s;
}
.contactDetails .contactSocialMedia a:hover{
	transform: translateY(-5px);
	background-color: var(--bg-clr-two);
	border: 1px solid var(--primary-clr);
}
.contactDetails .contactSocialMedia a:hover i{
	color: var(--primary-clr);
}
.contactContentsRow .contactForm .messageForm{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 30px;
}
.contactForm .messageForm .inputGroup{
	position: relative;
	margin: 18px 0px;
}
.contactForm .messageForm .halfWidth{
	flex-basis: 48%;
}
.contactForm .messageForm .fullWidth{
	flex-basis: 100%;
}
.contactForm .messageForm input,
.contactForm .messageForm textarea{
	width: 100%;
	font-size: 18px;
	padding: 2px 0px;
	background-color: var(--bg-clr-two);
	color: var(--primary-heading-clr);
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
}
.contactForm .messageForm textarea{
	resize: none;
	height: 220px;
	display: block;
}
.contactForm .messageForm textarea::-webkit-scrollbar{
	width: 5px;
}
.contactForm .messageForm textarea::-webkit-scrollbar-track{
	background-color: var(--black-clr);
	border-radius: 15px;
}
.contactForm .messageForm textarea::-webkit-scrollbar-thumb{
	background-color: var(--primary-clr);
	border-radius: 15px;
}
.messageForm .inputGroup label{
	position: absolute;
	left: 0;
	bottom: 4px;
	color: var(--text-clr);
	font-size: var(--text-fontSize);
	transition: 0.4s;
	pointer-events: none;
}
.messageForm .inputGroup:nth-child(4) label{
	top: 2px;
}
.messageForm .inputGroup input:focus ~ label,
.messageForm .inputGroup textarea:focus ~ label,
.messageForm .inputGroup input:valid ~ label,
.messageForm .inputGroup textarea:valid ~ label
{
	transform: translateY(-30px);
	font-size: 15px;
}
.contactForm .messageForm .inputGroup button{
	padding: 8px 16px;
	font-size: var(--btn-fontSize);
	background-color: var(--primary-clr);
	color: var(--primary-heading-clr);
	border: 1px solid transparent;
	border-radius: 25px;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	transition: 0.4s;
}
.contactForm .messageForm .inputGroup button:hover{
	background-color: var(--bg-clr-two);
	color: var(--primary-clr);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid var(--primary-clr);
}




.slick-slide > div {
    margin: 0 10px;
}



/* .................................................................................... */

@media(max-width: 868px){
    .contactSection .contactContentsRow{
        flex-wrap: wrap;
	}
	.contactContentsRow .contactDetails,
	.contactContentsRow .contactForm{
        flex-basis: 100%;
		margin: 0px;
	}
}
@media(max-width: 668px){
	.serviceContents .serviceBox{
		flex-basis: 100%;
	}
}
/*    Contact Section Styling Ends    */